<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321366976479-5fnbd8b2gidf7f4umtqge8bjabhgb8ec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321366976479-5fnbd8b2gidf7f4umtqge8bjabhgb8ec</string>
	<key>API_KEY</key>
	<string>AIzaSyCTaJYCnJeKv4EwMI3D09VHuGvHhZVuhZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>321366976479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.livepixel.mvx</string>
	<key>PROJECT_ID</key>
	<string>mvxapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mvxapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321366976479:ios:adfbf4d72c5ab72394466a</string>
	<key>DATABASE_URL</key>
	<string>https://mvxapp.firebaseio.com</string>
</dict>
</plist>